.menuContainer {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  right: 20px;
  width: 339px;
  z-index: 999;
}

.label {
  position: relative;
  text-align: center;
}


.labelMenuExit {
  position: absolute;
  right: 0;

  &:hover {
    cursor: pointer;
  }  
}


.menuItem {
  border-radius: 4px;
  padding: 10px;
  margin: 2px 0;

  &:hover {
    background-color: #dcdee0;
    cursor: pointer;
  }
}