.submitButton {
  background-color: rgb(0, 158, 0);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  padding: 10px 15px;
  margin: 6px 0 2px 0;

  &:hover {
    cursor: pointer;
  };
}

.cancelButton{
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}