.list {
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  margin: 8px;
  min-width: 50px;
  padding: 3px;
  width: 50px;
}

.title:hover {
  padding: 2px;
  cursor: pointer;
}