.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 4px;
  max-height: 100%;
  min-width: 255px;
  overflow: auto;
  padding: 5px;
  position: relative;
  width: 255px;
  white-space: normal;
}

.title {
  border-radius: 2px;
  min-width: 180px;
  padding: 6px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    background-color: rgb(255, 255, 255);
    cursor: text;
  }
}

.openCardComposer {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
}

.add {
  border-radius: 4px;
  margin: 4px;
  min-width: 200px;
  padding: 5px 10px;
  width: 200px;

  &:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
  }
}

.deleteButton {
  border-radius: 3px;
  padding: 6px;
  float: right;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.cardComposer {
  color: #5e6c84;
  min-width: 240px;
  width: 240px;
}

.cardComposerTextArea {
  border-radius: 5px;
  height: unset;
  padding: 4px 4px 30px 4px;
  max-height: 120px;
  margin: 4px;
  min-height: 54px;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  width: 227px;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}