.Board {
  background-image: url(../../images/pexels-abdullah-ghatasheh-1631677.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  padding: 0;
  width: 100vw;
}

.addIcon {
  padding-right: 10px;
}

.ListContainer {
  display: flex;
  flex-direction: row;
}

.openAddList {
  background-color: hsla(0, 0%, 100%, .24);
  border-radius: 4px;
  color: #fff;
  margin: 4px;
  max-height: 30px;
  min-width: 255px;
  padding: 8px 20px;
  width: 255px;
  vertical-align: middle;

  &:hover {
    background-color: rgba(233, 233, 233, 0.24);
    cursor: pointer;
  }
}

.menuBar {
  display: inline-block;
  position: relative;
  width: 100%;
}

.menuButton {
  background-color: hsla(0, 0%, 100%, .24);
  border-radius: 3px;
  color: #fff;
  float: right;
  margin: 5px;
  min-width: 125px;
  padding: 5px;
  position: fixed;
  right: 20px;
  width: 125px;
  z-index: 999;

  &:hover {
    background-color: rgba(233, 233, 233, 0.24);
    cursor: pointer;
  }
}

.menuIcon {
  padding: 5px;
}