.card {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  box-shadow:0px 1px 1px #000000;
  display: flex;
  flex-direction: column;
  margin: 4px 4px 4px 4px;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 4px 0 4px 8px;
  -webkit-box-shadow: 0px 1px 1px #000000;
  -moz-box-shadow: 0px 1px 1px #000000;

  &:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
  }
}

.cardRow1 {
  position: relative;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;

  &:hover {
    background-color: rgb(214, 214, 214);
  }
}

.userCircle {
  background-color: rgb(3, 3, 44);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: table-cell;
  font-size: 0.8em;
  height: 2vh;
  text-align: center;
  vertical-align: middle;
  width: 2vh;

  &:hover {
    background-color: rgb(13, 13, 61);
  }
}
